#Pandas Assignment

In [2]:
#How to import pandas and check the version?
import pandas as pd

In [3]:
pd.show_versions()

C:\ProgramData\Anaconda3\lib\site-packages\setuptools\distutils_patch.py:25: UserWarning: Distutils was imported before Setuptools. This usage is discouraged and may exhibit undesirable behaviors or errors. Please use Setuptools' objects directly or at least import Setuptools first.
  warnings.warn(

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.8.3.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 126 Stepping 5, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_India.1252

pandas           : 1.0.5
numpy            : 1.18.5
pytz             : 2020.1
dateutil         : 2.8.1
pip              : 20.1.1
setuptools       : 49.2.0.post20200714
Cython           : 0.29.21
pytest           : 5.4.3
hypothesis       : None
sphinx           : 3.1.2
blosc            : None
feather          : None
xlsxwriter       : 1.2.9
lxml.etree       : 4.5.2
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.2
IPython          : 7.16.1
pandas_datareader: None
bs4              : 4.9.1
bottleneck       : 1.3.2
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.5.2
matplotlib       : 3.2.2
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 3.0.4
pandas_gbq       : None
pyarrow          : None
pytables         : None
pytest           : 5.4.3
pyxlsb           : None
s3fs             : None
scipy            : 1.5.0
sqlalchemy       : 1.3.18
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.9
numba            : 0.50.1

In [4]:
#How to convert the index of a series into a column of a dataframe?
import pandas as pd

In [6]:
df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'], 
                   'Name': ['Amelia', 'Sam', 'Dean', 'Jessica'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']}) 
df

  Roll Number     Name  Marks In Percentage Grade  Subject
0     20CSE29   Amelia                   97     A  Physics
1     20CSE49      Sam                   90     A  Physics
2     20CSE36     Dean                   70     C  Physics
3     20CSE44  Jessica                   82     B  Physics

In [7]:
#How to combine many series to form a dataframe?
import pandas as pd

In [8]:

a = pd.Series(["ABC", "DEF",  
               "GHI"]) 
  

b = pd.Series(["JKL", "MNO",  
               "PQR"]) 
  

df = pd.DataFrame(a.append(b,  
                  ignore_index = True)) 

df

     0
0  ABC
1  DEF
2  GHI
3  JKL
4  MNO
5  PQR

In [9]:
#How to assign a name to the series index?
import pandas as pd

In [11]:
 
sr = pd.Series([10, 25, 3, 11, 24, 6]) 
  

index_ = ['maharashtra', 'pune', 'yerwada', 'dhanori', 'wagholi', 'lohegaon'] 
  

sr.index = index_ 
  

print(sr)

maharashtra    10
pune           25
yerwada         3
dhanori        11
wagholi        24
lohegaon        6
dtype: int64

In [12]:
#How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
import pandas as pd
import numpy as np

In [15]:
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

In [16]:
ser.describe()

count    25.000000
mean     10.435437
std       4.253118
min       1.251173
25%       7.709865
50%      10.922593
75%      13.363604
max      18.094908
dtype: float64

In [17]:
#What is qcut() in Pandas?
import pandas as pd

In [ ]:
#Qcut (quantile-cut) differs from cut in the sense that, in qcut, the number of elements in each bin will be roughly the same, but this will come at the cost of differently sized interval widths. On the other hand, in cut, the bin edges were equal sized (when we specified bins=3) with uneven number of elements in each bin or group. Also, cut is useful when you know for sure the interval ranges and the bins

In [18]:
#How to find the positions of numbers that are multiples of 3 from a series?
import pandas as pd

In [19]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, 10))
ser

0    4
1    1
2    4
3    1
4    2
5    1
6    3
7    2
8    3
9    1
dtype: int32

In [20]:
#How to stack two series vertically and horizontally ?
import pandas as pd

In [ ]:
#Stacking Horizontally : We can stack 2 Pandas series horizontally by passing them in the pandas.concat() with the parameter axis = 1.

In [21]:
series1 = pd.Series(['g', 'e', 'e', 'k', 's']) 
print("Series 1:") 
print(series1) 
series2 = pd.Series([9, 8, 7, 6, 5]) 
print("Series 2:") 
print(series2) 
   
# stacking the series horizontally 
df = pd.concat([series1, series2], axis = 1) 
print("\nStack two series horizontally:") 
display(df)

Series 1:
0    g
1    e
2    e
3    k
4    s
dtype: object
Series 2:
0    9
1    8
2    7
3    6
4    5
dtype: int64

Stack two series horizontally:

   0  1
0  g  9
1  e  8
2  e  7
3  k  6
4  s  5

In [ ]:
#Stacking Vertically : We can stack 2 Pandas series vertically by passing them in the pandas.concat() with the parameter axis = 0.

In [22]:
series1 = pd.Series(['g', 'e', 'e', 'k', 's']) 
print("Series 1:") 
print(series1) 
series2 = pd.Series([9, 8, 7, 6, 5]) 
print("Series 2:") 
print(series2) 
   
# stacking the series vertically 
df = pd.concat([series1, series2], axis = 0) 
print("\nStack two series vertically:") 
display(df)

Series 1:
0    g
1    e
2    e
3    k
4    s
dtype: object
Series 2:
0    9
1    8
2    7
3    6
4    5
dtype: int64

Stack two series vertically:

0    g
1    e
2    e
3    k
4    s
0    9
1    8
2    7
3    6
4    5
dtype: object

In [23]:
#How to get the day of month, week number, day of year and day of week from a series of date strings?
import pandas as pd

In [25]:
import pandas as pd
from dateutil.parser import parse
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(date_series)
date_series = date_series.map(lambda x: parse(x))
print("Day of month:")
print(date_series.dt.day.tolist())
print("Day of year:")
print(date_series.dt.dayofyear.tolist())
print("Week number:")
print(date_series.dt.weekofyear.tolist())
print("Day of week:")
print(date_series.dt.weekday_name.tolist())

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]
Week number:
[1, 39, 10, 19, 15, 14]
Day of week:

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

In [27]:
#How to compute the euclidean distance between two series?
import pandas as pd
import numpy as np

In [28]:
x = pd.Series([1, 2, 3, 4, 5]) 
y = pd.Series([6, 7, 8, 9, 10]) 
  
# here we are computing every thing 
# step by step 
p1 = np.sum([(a * a) for a in x]) 
p2 = np.sum([(b * b) for b in y]) 
  
# using zip() function to create an 
# iterator which aggregates elements  
# from two or more iterables 
p3 = -1 * np.sum([(2 * a*b) for (a, b) in zip(x, y)]) 
dist = np.sqrt(np.sum(p1 + p2 + p3)) 
  
print("Series 1:", x) 
print("Series 2:", y) 
print("Euclidean distance between two series is:", dist)

Series 1: 0    1
1    2
2    3
3    4
4    5
dtype: int64
Series 2: 0     6
1     7
2     8
3     9
4    10
dtype: int64
Euclidean distance between two series is: 11.180339887498949

In [29]:
#How to use apply function on existing columns?
import pandas as pd 
import numpy as np

In [30]:
# List of Tuples 
matrix = [(1, 2, 3), 
          (4, 5, 6), 
          (7, 8, 9) 
         ] 
  
# Create a DataFrame object 
df = pd.DataFrame(matrix, columns = list('xyz'),  
                  index = list('abc')) 
  
# Apply function numpy.square() to lambda 
# to find the squares of the values of  
# column whose column name is 'z' 
new_df = df.apply(lambda x: np.square(x) if x.name == 'z' else x) 
  
# Output 
new_df

   x  y   z
a  1  2   9
b  4  5  36
c  7  8  81